<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
  
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>
<body>

    <div class="container">
        <form class="row row-cols-lg-auto g-3 align-items-center" method="POST">
            <div class="col-12">
              <label class="visually-hidden" for="PIN">PIN</label>
              <div class="input-group">
                <input type="password" class="form-control" id="pin" placeholder="PIN">
              </div>
            </div>
            
            <div class="col-12">
                <label class="visually-hidden" for="submit">Submit</label>
                <button class="btn btn-primary" id="submit">Submit</button>
            </div>
        </form>
    
    </div>

</body>
</html>
